auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9096
  http_listen_address: 0.0.0.0
  grpc_listen_address: 0.0.0.0

target: all

memberlist:
  bind_addr:
    - 0.0.0.0
  advertise_addr: 127.0.0.1
  advertise_port: 7946
  join_members: []

common:
  path_prefix: /loki
  replication_factor: 1

  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory

  storage:
    filesystem:
      chunks_directory: /loki/chunks
      rules_directory: /loki/rules

ingester:
  lifecycler:
    address: 127.0.0.1
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1

query_range:
  align_queries_with_step: true

frontend:
  address: 127.0.0.1

ruler:
  storage:
    type: local
    local:
      directory: /loki/rules

schema_config:
  configs:
    - from: 2020-10-24
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

limits_config:
  retention_period: 744h
  ingestion_rate_mb: 10
  ingestion_burst_size_mb: 20
  allow_structured_metadata: true
  max_structured_metadata_size: 1048576
  max_streams_per_user: 0
